
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}



.link-back{
    display: inline-block;
    position: absolute;
    padding: 8px 16px;
    /* background-color: red; */
    
}


.link-back p{
   

    font-size: 16px;
    font-family: 'cambria', sans-serif;
}


.link-back a{

    text-decoration: none;
    color: #f5f5f5;
}



.link-back a:hover{

    color: #796876;
    transition: 0.9s ease-in-out;
}

.s-contact{
    display: block;
    height: 180vh;
    background-color: #361C32;
}



.form-container{
  
    margin-top: 3rem;
    border-radius: 16px;
    background-color: #361C32;
    width: 40%;
    height: 110vh;
    border: 1px solid #f5f5f583!important;
    box-shadow: 0 7px 20px rgba(145,156,212,.15)!important;
    box-sizing: border-box!important;


}

.contact-form{
    margin-top: 3rem;
}

#contact-h{
    color: #f5f5f5;
    text-align: center;
    font-size: 48px;
    padding-top: 4rem;
    font-family: 'Poppins' sans-serif;
}

.contact-p{
    font-size: 14px;
    color: rgb(215, 210, 210);
    padding: 0.5rem;
    letter-spacing: 1px;
}



.input-field{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

#input-field{

    padding: 1rem 12rem 1rem 1rem;
    
}

/* .input-field textarea{
 

  padding: 1rem 12rem 1rem 1rem;
  
        
    
} */



.child-container{

    display: block;
    max-width: 100%;
    margin-bottom: 5rem;
 

    
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#f-heading{
    color: white;
    text-align: center;
    padding-top: 2rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}





.btn-active {
    background-color: #EF9457;
    color: #ffffff;
    border: none;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 18px 126px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: 0.9s ease-out;
    
}

.btn-active:hover {
    background-color: #A14A62;
    border:none;
    border-radius: 4px;
    padding: 18px 126px;
    color: #ffffff;
    box-shadow: 0 7px 20px rgba(145,156,212,.15)!important;
    transform: scaleY(0.5s);
    transition-duration: 0.9s;
}


.social-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem ;
}


.social__links a{

   
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    
    


}


i:hover {

    color: #796876;
    cursor: pointer;
    transition: 0.9s ease-out;
}


i {
    padding: 4px;
    color: #f5f5f5;
    font-size: 18px;
    padding-right: 8px;
   

}





.contact-footer{

    height: 10vh;
    background-color: #361C32;
    text-align: center;
    cursor: pointer;

}

.contact-footer p{
    
    display: inline-flex;
    margin-top: 1rem, 0 0 0;
    padding: 1rem;
    font-size: 16px;
    color: #ffffffd1;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}


/* Media Queries */


@media screen and (max-width: 400px){
    html{
        width:auto;
        
    }

    .s-contact{
        height: 110vh;
    }

    .link-back{
        margin-left: 1rem;
    }
}

@media screen and (max-width: 500px){
    html{
        width:auto;
    }

    h2{
        font-size: 28px;
    }

    #f-heading{
        font-size: 18px;
    }

    .s-contact{
        height: 110vh;
    }

    .form-container{
        width: 400px;
        height: 600px;
    }

    
   .input-field{
       margin-bottom: 24px;
  }

    #input-field{

        padding: 1rem 4rem 1rem 1rem;
        
    }

    .input-field textarea{
        padding: 1rem 5rem 1rem 1rem;
    }

    .btn-active{
        padding: 20px 66px;
    }

    .btn-active:hover{
        padding: 20px 66px;
    }
}








@media screen and (min-width: 500px) and (max-width:800px) {

    .form-container{
        
        width: 400px;
        height: 108vh;
    }

    .child-container{
        margin: auto;
        margin-top: 3rem;
       
    }

    #input-field{

        padding: 1rem 8rem 1rem 1rem;
        
    }

    .input-field textarea{
        padding: 1rem 9rem 1rem 1rem;
    }

    
    #contact-h{
        padding-top: 7rem;
    }

    .s-contact{
        height: 180vh;
    }
 

    

    .btn-active{
        padding: 20px 98px;
    }

    .btn-active:hover{
        padding: 20px 98px;
    }
}

@media screen and (min-width: 800px) and (max-width:900px){
    .form-container{
        
        width: 600px;
        height: 78vh;
    }

    .child-container{
        margin: auto;
        margin-top: 3rem;
       
    }

    #input-field{

        padding: 1rem 20rem 1rem 1rem;
        
    }

    .input-field textarea{
        padding: 1rem 21rem 1rem 1rem;
    }
    
    
    .s-contact{
        height: 130vh;
    }
 

    .btn-active{
        padding: 20px 194px;
    }

    .btn-active:hover{
        padding: 20px 98px;
    }


}
/* remember max-width of laptop screen to 900px */